//
//  Config.xcconfig
//  LostArkExchange
//
//  Created by Byeon jinha on 2023/04/18.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
Auth = eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IktYMk40TkRDSTJ5NTA5NWpjTWk5TllqY2lyZyIsImtpZCI6IktYMk40TkRDSTJ5NTA5NWpjTWk5TllqY2lyZyJ9.eyJpc3MiOiJodHRwczovL2x1ZHkuZ2FtZS5vbnN0b3ZlLmNvbSIsImF1ZCI6Imh0dHBzOi8vbHVkeS5nYW1lLm9uc3RvdmUuY29tL3Jlc291cmNlcyIsImNsaWVudF9pZCI6IjEwMDAwMDAwMDAwNDYyMTgifQ.n6mPSL66p5GpwUx2wFtK_J0at50vXqRgp-J2aX0bOjWI6wzfwortAeLXmjPG0dMEpCZrpKLe3uKmLpgR4ExYVkjOZSst_Qa6JpiT7PYvnS007UK2W5IlarkDr07BFldsPOdIJ7knyrxPNasgbQPDTmyRA2u_SRJCJi8FzTaIiRcARl-_tWThiC5luaAYgg1hCPo32fCQEmJDszcRfp7xrlVmfVxWbotISL2ASW96D0ttO1p74DIkDkiJHHx9Xbk82R6CRepwvg0OCzqswET1Td_5Z0rcwjm5tKXIDHj3kNGBFA1qIN_fo1JMm5vO58uy5rVPIk3IAw1RTGK30QJLzg

AdAuth = ca-app-pub-3363690747307113/1285603186
